@import "../media.scss";


.form {
    display: flex;
    margin-bottom: 80px;
    @include phones {
        flex-direction: column;
    }
    &.form--hide {
        @include phones {
            display: none;
        }
    }
}
.form--phone {
    display: none;
    &.active {
        display: block;
    }
}

.form__title {
font-weight: 800;
font-size: 35px;
margin-right: 50px;
width: 17%;
text-align: right;
margin-left: 10%;
    @include desktop {
        margin-left: 0;
        width: 30%;
        font-size: 32px;
    }
    @include phones {
        font-size: 25px;
        text-align: left;
        width: 100%;
        margin-bottom: 25px;
        &.form__title--phone {
            font-size: 32px;
            text-align: center;
            width: 65%;
            margin: 0 auto 50px;
        }
    }

}
.form__inputs {
    width: 41%;
    @include desktop {
        width: 100%;
    }
}
.form__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @include phones {
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: left;
    }
}
.form__input {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 25px;
    outline: transparent;
    color: #fff;
    font-size: 18px;
    @include phones {
        padding: 20px;
        font-size: 16px;
    }
}
.form__input--margin--right {
    margin-right: 30px;
    @include phones {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.form__file {
    display: none;
}
.form__add {
    cursor: pointer;
    display: flex;
    
}
.form__icon {
    margin-right: 14px;
    width: 20px;
    height: 20px;
}
