.background-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 100%;
  object-fit: cover;
  width: 100%;
  opacity: 0;
}
.hero-video.playing {
  opacity: 1;
}

.vignette {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, transparent 0, #000 100%);
}
