.form {
  display: flex;
  margin-bottom: 80px;
}
@media screen and (max-width: 481px) {
  .form {
    flex-direction: column;
  }
}
@media screen and (max-width: 481px) {
  .form.form--hide {
    display: none;
  }
}

.form--phone {
  display: none;
}
.form--phone.active {
  display: block;
}

.form__title {
  font-weight: 800;
  font-size: 35px;
  margin-right: 50px;
  width: 17%;
  text-align: right;
  margin-left: 10%;
}
@media screen and (max-width: 1025px) {
  .form__title {
    margin-left: 0;
    width: 30%;
    font-size: 32px;
  }
}
@media screen and (max-width: 481px) {
  .form__title {
    font-size: 25px;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
  }
  .form__title.form__title--phone {
    font-size: 32px;
    text-align: center;
    width: 65%;
    margin: 0 auto 50px;
  }
}

.form__inputs {
  width: 41%;
}
@media screen and (max-width: 1025px) {
  .form__inputs {
    width: 100%;
  }
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media screen and (max-width: 481px) {
  .form__row {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: left;
  }
}

.form__input {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 25px;
  outline: transparent;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 481px) {
  .form__input {
    padding: 20px;
    font-size: 16px;
  }
}

.form__input--margin--right {
  margin-right: 30px;
}
@media screen and (max-width: 481px) {
  .form__input--margin--right {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.form__file {
  display: none;
}

.form__add {
  cursor: pointer;
  display: flex;
}

.form__icon {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}

